* {
  margin: 0;
  padding: 0;
  /* font-size: 62.5%; */
}

body {
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  color: #fff;
  border: 0;
  border-radius: 8px;
  background: #ff900e;
  padding: 1.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}
/* header styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
.nav-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  font-size: 1.125rem;
  line-height: 26px;
  margin-right: 1.8rem;
  color: #424242;
}
nav li a {
  text-decoration: none;
  color: black;
}

/* banner content style */

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  color: #727272;
  margin: 2rem 0;
}
.banner img {
  width: 100%;
  margin-top: 3rem;
}

/* main style */
main {
  max-width: 1440px;
  margin: 8rem auto;
  /* display: flex;
    justify-content: center;
    align-items: center; */
}

.teams-container {
  display: flex;
  align-items: center;
  /* gap:5.4rem; */
}
.primary-color {
  color: #ff900e;
}
.quick-list {
  color: #727272;
  font-weight: 500;
}
.section-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.section-description {
  color: #727272;
  margin: 2rem 0;
  line-height: 1.625rem;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content {
  padding: 0 5.4rem;
}

/* facts section design */
.facts-content {
  max-width: 542px;
  margin-top: 130px;
}

.facts-card-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.facts-card-container .card {
  border: 1px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  padding: 45px 55px;
}
.facts-card-container .card-stats {
  font-size: 45px;
  font-weight: 600;
  color: #424242;
}
.facts-card-container .card-title {
  color: #727272;
  font-size: 1.25rem;
  font-weight: 600;
}
