/* mobile device */

@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  .btn-primary {
    padding: 1rem;
  }
  .nav-title {
    font-size: 2rem;
  }
  nav{
    flex-direction: column;
  }
  nav {
    margin-bottom: 3rem;
  }
  nav ul li{
    font-size: 0.8rem;
    margin-right: 1.2rem;
  }

  /* banner */
  .banner-title {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .banner-description {
    color: #727272;
    margin: 2rem 0;
  }
}

/* tablet device or medium device */
@media screen and (min-width:576px) and (max-width:768px) {
    header{
        padding: 3.5rem;
    }
    .nav-title {
        font-size: 1.8rem;
        text-align: center;
      }
      nav ul li{
        font-size: 1rem;
      }
      .banner-title{
        font-size: 2.2rem;
      }
}
