@media screen and (max-width: 576px) {
  .header-container,.nav-container, nav ul,.feature,.loving-feature{
    width: 100%;
    flex-direction: column;
    padding:5px;
  }
  .container{
    padding:0;
  }
  .logo{
    font-size: 30px;
  }
  nav ul{
    flex-direction: column;
    gap:5px;
  }
  .banner-title,.feature-title,.title1,.title2,.section-title{
    margin-top: 50px;
    font-size: 25px;
  }
  .primary-btn{
    height: 50px;
    padding: 10px;
    font-size: 1em;
  }
  .features{
    padding: 10px;
    width: 100%;
  }
  .feature-image-set{
    grid-template-columns: repeat(1, 1fr);
  }
  .feature-info{
    margin: 0;
    text-align: center;
  }
  .feature-list{
    width: 100%;
  }
  .btn{
    padding:5px;
    font-size: 25px;
    transform: none;
    margin-top:5px;
  }
  .btn-info{
    font-size: 16px;
  }

}


@media screen and (min-width:577px) and (max-width:768px) {
  .header-container,.nav-container, nav ul{
    width: 100%;
    padding: 15px;

  }
  nav ul{
    column-gap: 30px;
  }
  nav ul li{
    font-size: 1em;
  }
  
  .logo{
    font-size: 20px;
  }
  .banner-title,.feature-title,.title1,.title2,.section-title{
    font-size: 35px;
    margin-top: 50px;
  }
  .feature-image-set{
    grid-template-columns: repeat(1, 1fr);
  }
  .feature,.loving-feature{
    flex-direction: column;
    
  }
  .container{
    width: 100%;
    padding: 0;
  }
  .feature-list{
    width: 100%;
    padding:5px;
  }
  .feature-info{
    margin: 5px;
    text-align: center;
  }
  .btn{
    padding:10px;
  }
  .btn-info{
    font-size: 16px;
  }

}

@media screen and (min-width:769px) and (max-width: 992px){
  .header-container,.nav-container, nav ul,.loving-feature{
    width: 100%;
    padding: 15px;
  }
  .features{
    padding: 20px;
    width: 100%;
  }
  .feature,.loving-feature{
    flex-direction: column;
  }
  nav ul li{
    font-size: 1.1em;
  }
  .logo{
    font-size: 30px;
  }
  .feature-info{
    margin: 10px;
    text-align: center;
  }
  .container{
    padding: 0;
  }
  .feature-list{
    width: 100%;
  }

}
@media screen and (min-width: 993px) and (max-width:1200px){
  .header-container,.nav-container, nav ul,.features{
    padding: 30px;
  }
}



