@media screen and (max-width: 576px) {
  .header-container,.nav-container, nav ul,.feature,.loving-feature,.achievement,.sponsors,.sponsor{
    width: 100%;
    flex-direction: column;
    padding:5px;
  }
  .container{
    padding:0;
  }
  .logo{
    font-size: 30px;
  }
  nav ul,.achievement,.sponsors{
    flex-direction: column;
    gap:5px;
  }
  .banner-title,.feature-title,.title1,.title2,.section-title{
    margin-top: 50px;
    font-size: 25px;
  }
  .primary-btn{
    height: 50px;
    padding: 10px;
    font-size: 1em;
  }
  .features{
    padding: 10px;
    width: 100%;
  }
  .feature-image-set, .projects{
    grid-template-columns: repeat(1, 1fr);
  }
  .feature-info,.sponsor-info{
    margin: 0;
    text-align: center;
  }
  .feature-list{
    width: 100%;
  }
  .btn{
    padding:5px;
    font-size: 25px;
    transform: none;
    margin-top:5px;
  }
  .btn-info{
    font-size: 16px;
  }

  .achievement-info,.sponsor-info{
    width: 100%;
    text-align: center;
  }
  .achievement-details{
    padding: 10px;
    margin: 0 30px 10px 30px;
  }
  .achievement-details:hover{
    transform:scale(1.05,1.05) ;
  }
  .sponsor{
    padding:0 100px;
  }
 .footer{
  margin: 5px;
  margin-bottom: 100px;
 }

}


@media screen and (min-width:577px) and (max-width:768px) {
  .header-container,.nav-container, nav ul,.achievement,.sponsors{
    width: 100%;
    padding: 15px;

  }
  nav ul,.achievement{
    gap: 30px;
  }
  nav ul li{
    font-size: 1em;
  }
  
  .logo{
    font-size: 20px;
  }
  .banner-title,.feature-title,.title1,.title2,.section-title{
    font-size: 35px;
    margin-top: 50px;
  }
  
  .feature-image-set,.projects{
    grid-template-columns: repeat(1, 1fr);
  }
  .feature,.loving-feature,.achievement,.sponsors{
    flex-direction: column;
    
  }
  .container,.achievement,.feature-image-set{
    width: 100%;
    padding: 0;
  }
  .feature-list,.achievement-info,.features{
    width: 100%;
    padding:5px;
  }
  .feature-info,.achievement-info,.project,.features,.sponsor-info,.footer{
    margin: 5px;
    text-align: center;
  }
  .btn{
    padding:10px;
  }
  .btn-info{
    font-size: 16px;
  }
  .achievement-details{
    padding: 10px;
    margin: 0 30px 10px 30px;
    gap:30px;
  }
  .achievement-details:hover{
    transform:scale(1.05,1.05) ;
  }
  .sponsor{
    padding:0 100px;
  }
  
}

@media screen and (min-width:769px) and (max-width: 992px){
  .header-container,.nav-container, nav ul,.loving-feature,.achievement,.achievement-info{
    width: 100%;
    padding: 15px;
  }
  .features{
    padding: 20px;
    width: 100%;
  }
  .feature,.loving-feature,.achievement{
    flex-direction: column;
  }
  nav ul li{
    font-size: 1.1em;
  }
  .logo{
    font-size: 30px;
  }
  .feature-info,.achievement-info{
    margin: 10px;
    text-align: center;
  }
  .container{
    padding: 0;
  }
  .feature-list{
    width: 100%;
  }
  .achievement,.sponsors{
    gap:40px;
  }
}
@media screen and (min-width: 993px) and (max-width:1200px){
  .header-container,.nav-container, nav ul,.features{
    padding: 30px;
  }
}



